body {
    background-color:#347B98;
}
caption {
    font-family: 'Comic Sans MS';
    color:#E3F7D4;
    text-align: center;
    caption-side: top;
    font-size: large;
}
.randomInfo {
    font-family:'Comic Sans MS';
    color:#E3F7D4;
    text-align: center;
    font-size: large;
    background-color: #66B032;
    padding-bottom: 20 px;
}
table{
    th, td {
        border-style: dotted;
        border-color: #0247FE;
        border-width: 2px;
        border-radius: 2px;
        border-collapse: collapse;
        font-family: 'Comic Sans MS';
        color:#E3F7D4;
        text-align: center;
    }
    margin-left: 25px;
    margin-right: 25px;
}
