body {
    background-color:#347B98;
}
caption {
    font-family: 'Comic Sans MS';
    color:#000000;
    text-align: center;
    caption-side: top;
    font-size: large;
}
.randomInfo {
    font-family:'nunito', sans-serif;
    color:#000000;
    text-align: center;
    font-size: large;
    background-color: #164f6b;
}
table{
    th, td {
        border-style: solid;
        border-color: #25408b;
        border-width: 2px;
        border-radius: 2px;
        border-collapse: collapse;
        font-family: 'Comic Sans MS';
        color:#1cb69d;
        text-align: center;
    }
 }
