body {
    background-color: rgb(16, 73, 54);
}
caption {
    font-family: 'Comic Sans MS';
    color:rgb(119, 175, 114);
    text-align: left;
    font-size: large;
}
.randomInfo {
    font-family:'Times New Roman';
    color:rgb(119, 175, 114);
    text-align: center;
    font-size: large;
}
table, th, td {
    border-style: dotted;
    border-color: seagreen;
    border-width: 2px;
    border-radius: 2px;
    border-collapse: collapse;
    font-family: 'Comic Sans MS';
    color:aquamarine;
    width:70%;
}
th, td {
    padding: 10px;
    text-align: center;
}
